# Description
This notebook analyzes and visualizes CustomerLoyalty data.

In [2]:
# The code was removed by Watson Studio for sharing.

,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,StateAbbr,City,Latitude,Longitude,...,LoyaltyStatus,Product Line,Coupon Response,Count,Quantity Sold,Unit Sale Price,Unit Cost,Revenue,Customer Lifetime Value,Loyalty Count
0,689112,Aaron,Macayan,Aaron Macayan,Canada,Ontario,ON,Toronto,43.653226,-79.383184,...,Bronze,Computers and Home Office,Coupon 1,1,1,$594.00,$504.90,$594.00,2895.52,1
1,991054,Abbey,Boettger,Abbey Boettger,United Kingdom,Greater London,JS,London,51.507351,-0.127758,...,Bronze,Computers and Home Office,Coupon 1,1,2,$361.00,$306.85,$722.00,11546.17,1
2,845894,Abbie,Privitera,Abbie Privitera,Germany,Hessen,HE,Frankfurt,50.110922,8.682127,...,Silver,Smart Electronics,Coupon 1,1,7,$109.00,$92.65,$763.00,5837.53,1
3,312490,Adah,Demmert,Adah Demmert,Canada,Quebec,QC,Montreal,45.501689,-73.567256,...,VIP,TV and Video Gaming,Coupon 1,1,2,"$1,106.00",$940.10,"$2,212.00",7319.58,1
4,500884,Adaline,Jaenke,Adaline Jaenke,United Kingdom,Brighton and Hove,JI,Bear Road,50.837645,-0.122104,...,Bronze,Computers and Home Office,Coupon 6,1,2,"$1,066.00",$906.10,"$2,132.00",14166.20,1
5,247721,Adam,Fausel,Adam Fausel,Canada,Quebec,QC,Tremblant,46.118462,-74.596185,...,Bronze,Computers and Home Office,Coupon 1,1,3,$918.00,$780.30,"$2,754.00",5096.67,1
6,418854,Adan,Tietze,Adan Tietze,United States,California,CA,Berkeley,37.869902,-122.270013,...,Elite,Computers and Home Office,Coupon 6,1,1,$403.00,$342.55,$403.00,4904.89,1
7,578685,Adan,Wassinger,Adan Wassinger,United States,California,CA,Los Angeles,34.052234,-118.243685,...,Gold,Kitchen Appliances,Coupon 2,1,1,$107.00,$90.95,$107.00,2836.68,1
8,203947,Adela,Boleware,Adela Boleware,Canada,Ontario,ON,Sudbury,46.522099,-80.953035,...,Platinum,Photography,Coupon 4,1,1,$402.00,$341.70,$402.00,4772.94,1
9,154416,Adelaida,Eischen,Adelaida Eischen,United Kingdom,Greater London,JS,London,51.507351,-0.127758,...,Bronze,Computers and Home Office,Coupon 1,1,3,"$1,442.00","$1,225.70","$4,326.00",7503.37,1